@import 'base';

a {
    &[href^="http://"]:not([href*="127.0.0.1"], [href*="docs.keyoxide.org"]):after, &[href^="https://"]:not([href*="127.0.0.1"], [href*="docs.keyoxide.org"]):after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
        display: inline-block;
        margin-left: 4px;
        transform: translateY(-1px);
    }
}

.widget {
    padding: 8px;
    margin-bottom: 16px;
    background-color: #e7fff2;
    border: dashed 2px #cee9db;

    .title {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 8px;
        color: #006c50;
    }
    input {
        width: 100%;
        max-width: 40rem;
        font-size: 1rem;
    }
    output {
        display: block;
        margin-top: 8px;
        font-family: monospace;
        user-select: all;

        &:empty {
            display: none;
        }

        span {
            margin-right: 8px;
            color: #006c50;
            font-size: 0.9rem;
            user-select: none;
        }
    }
}