{% extends "index.html" %}

{% block title %}
    {{ page.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    {% set _section = get_section(path=page.ancestors | last) %}
    <div class="flags">
        {% set lang_en = page.translations | filter(attribute="lang", value="en") | first %}
        <a href="{{ lang_en.permalink }}"><img src="/en.svg" alt="EN"></a>
        {% for t in page.translations %}
            {% if t.lang != "en" %}
                <a href="{{ t.permalink }}"><img src="/{{ t.lang }}.svg" alt="{{ t.lang | upper }}"></a>
            {% endif %}
        {% endfor %}
    </div>

    <p class="subtitle">{{ _section.title }}</p>
    <h1>{{ page.title }}</h1>
    
    {% if page.extra.toc %}
        {% if page.toc %}
            <div class="toc">
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {{ page.content | safe }}
{% endblock content %}