{% extends "index.html" %}

{% block title %}
    {{ section.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    <div class="flags">
        {% set lang_en = section.translations | filter(attribute="lang", value="en") | first %}
        <a href="{{ lang_en.permalink }}"><img src="/en.svg" alt="EN"></a>
        {% for t in section.translations %}
            {% if t.lang != "en" %}
                <a href="{{ t.permalink }}"><img src="/{{ t.lang }}.svg" alt="{{ t.lang | upper }}"></a>
            {% endif %}
        {% endfor %}
    </div>

    <p class="subtitle">&nbsp;</p>
    <h1>{{ section.title }}</h1>

    {{ section.content | safe }}
{% endblock content %}